<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.smarthaccp.demand.mapper.DemandMapper" >
	<select id="getRequestList" parameterType="SearchInfoVO" resultType="RequestVO">
		SELECT
			idx
			, type
			, title
<!-- 			, content -->
			, company
			, requester
			, DATE(request_date) as request_date
			, state
			, priority
			, DATE(create_date) as create_date
		FROM
			REQ_DOC_TB
		WHERE	
		<choose>
			<when test="searchType != null and !searchKeyword.equals('')">
				<choose>
					<when test="searchType.equals('any')">
						type like concat('%',#{searchKeyword},'%')
						OR title like concat('%',#{searchKeyword},'%')
						OR company like concat('%',#{searchKeyword},'%')
						OR state like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('type')">
						type like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('title')">
						title like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('company')">
						company like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('state')">
						state like concat('%',#{searchKeyword},'%')
					</when>
				</choose>
			</when>
			<otherwise>
				1=1
			</otherwise>
		</choose>
		<choose>
			<when test="startDate != null and endDate != null">
				<![CDATA[
					AND DATE(request_date) >= #{startDate}
					AND DATE(request_date) <= #{endDate}
				]]> 
			</when>
			<when test="endDate != null">
				<![CDATA[
					AND DATE(request_date) <= #{endDate}
				]]>
			</when>
			<when test="startDate != null">
				<![CDATA[
					AND DATE(request_date) >= #{startDate}
				]]>
			</when>
		</choose>
		<if test="startRow != null and listLimit != null">
			limit
				${startRow}
				, ${listLimit}
		</if>
	</select>
	<insert id="insertRequest" parameterType="RequestVO">
		INSERT INTO
			REQ_DOC_TB(type,title,content,company,requester,request_date,priority)
			values(
				#{type}
				, #{title}
				, #{content}
				, #{company}
				, #{requester}
				, #{request_date}
				, #{priority}
			)
	</insert>
	<select id="selectRequest" resultType="RequestVO" parameterType="RequestVO">
		SELECT
			*
		FROM
			REQ_DOC_TB
		WHERE
			1=1
			<if test="idx != null">
				AND idx = #{idx}
			</if>
			<if test="requester != null">
				AND requester = #{requester}
			</if>
			<if test="content != null">
				AND content = #{content}
			</if>
			<if test="request_date != null">
				AND request_date = #{request_date}
			</if>
			<if test="company != null">
				AND company = #{company}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="priority != null">
				AND priority = #{priority}
			</if>
			<if test="title != null">
				AND title = #{title}
			</if>
	</select>
	<select id="getRequestFileList" parameterType="RequestVO" resultType="requestFileVO">
		SELECT
			*
		FROM
			REQ_FILE_TB
		WHERE
			1=1
			<if test="idx != null">
				AND idx = #{idx}
			</if>
	</select>
</mapper>
