<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.smarthaccp.demand.mapper.RequirementsMapper" >
	<select id="getRequestList" parameterType="SearchInfoVO" resultType="RequestVO">
		SELECT
			req_idx
			, RD.seq_idx
			, type
			, title
			, RD.site_idx
			, SM.site_name
			, requester
			, DATE(request_date) as request_date
			, RD.state
			, priority
			, DATE(RD.create_date) as create_date
		FROM
			REQ_DOC_TB RD LEFT JOIN SITE_MASTER_TB SM
			ON RD.site_idx = SM.site_idx
		WHERE
			RD.state != '삭제'
		<choose>
			<when test="searchType != null and !searchKeyword.equals('')">
				<choose>
					<when test="searchType.equals('any')">
						AND type like concat('%',#{searchKeyword},'%')
						OR title like concat('%',#{searchKeyword},'%')
						OR SM.site_name like concat('%',#{searchKeyword},'%')
						OR state like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('type')">
						AND type like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('title')">
						AND title like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('company')">
						AND SM.site_name like concat('%',#{searchKeyword},'%')
					</when>
					<when test="searchType.equals('state')">
						AND state like concat('%',#{searchKeyword},'%')
					</when>
				</choose>
			</when>
			<otherwise>
				AND 1=1
			</otherwise>
		</choose>
		<choose>
			<when test="startDate != null and endDate != null">
				<![CDATA[
					AND DATE(request_date) >= #{startDate}
					AND DATE(request_date) <= #{endDate}
				]]> 
			</when>
			<when test="endDate != null">
				<![CDATA[
					AND DATE(request_date) <= #{endDate}
				]]>
			</when>
			<when test="startDate != null">
				<![CDATA[
					AND DATE(request_date) >= #{startDate}
				]]>
			</when>
		</choose>
		ORDER BY
			seq_idx desc
		<if test="startRow != null and listLimit != null">
			limit
				${startRow}
				, ${listLimit}
		</if>
	</select>
	<insert id="insertRequest" parameterType="RequestVO">
		INSERT INTO
			REQ_DOC_TB(req_idx,type,title,content,site_idx,requester,request_date,priority,file_idx)
			values(
				#{req_idx}
				, #{type}
				, #{title}
				, #{content}
				, #{site_idx}
				, #{requester}
				, #{request_date}
				, #{priority}
				, #{file_idx}
			)
	</insert>
	<update id="updateRequest" parameterType="RequestVO">
		UPDATE
			REQ_DOC_TB
	    <set>
			<if test="type != null and type !=''">
				type = #{type},	
			</if>	    
			<if test="title != null and title !=''">
				title = #{title},	
			</if>	    
			<if test="content != null and content !=''">
				content = #{content},	
			</if>	    
			<if test="site_idx != null and site_idx !=''">
				site_idx = #{site_idx},	
			</if>	    
			<if test="requester != null and requester !=''">
				requester = #{requester},	
			</if>	    
			<if test="request_date != null and request_date !=''">
				request_date = #{request_date},	
			</if>	    
			<if test="priority != null and priority !=''">
				priority = #{priority},	
			</if>
			<if test="file_idx !=''">
				<choose>
					<when test="file_idx == null">
						file_idx = #{file_idx, jdbcType = VARCHAR},
					</when>
					<otherwise>
						file_idx = #{file_idx},	
					</otherwise>
				</choose>
			</if>
	    </set>
	    WHERE
	    	req_idx = #{req_idx}
	</update>
	<select id="selectRequest" resultType="RequestVO" parameterType="String">
		SELECT
			RD.req_idx
			, type
			, title
			, content
			, RD.site_idx
			, SM.site_name
			, RD.file_idx
			, requester
			, DATE(request_date) as request_date
			, RD.state
			, handle_idx
			, priority
			, DATE(RD.create_date) as create_date
		FROM
			REQ_DOC_TB RD LEFT JOIN REQ_HANDLE_TB RH
			ON RD.req_idx = RH.req_idx LEFT JOIN SITE_MASTER_TB SM
			ON RD.site_idx = SM.site_idx
		WHERE
			RD.req_idx = #{req_idx}
	</select>
	<update id="deleteRequest" parameterType="String">
		UPDATE
			REQ_DOC_TB
		SET
			state = '삭제'
		WHERE
			req_idx = #{req_idx}
	</update>
</mapper>
